:root {
    --jeshile: #2e3b2f;
    --jeshileHapur: #eaf1eb;
    --bardhe: white;
    --gri: #333;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/CustomFont.woff2') format('woff2');
  } 

  body{
    font-family:'CustomFont', sans-serif;
  }

*{
    padding: 0;
    margin: 0;
}

#logo{
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 40px;
    border-radius: 8px;
    width: 100px;
    height: 50px;
}

/* pozicionime */
main{
    display: flex;
}

/* stilizim i perbashket */
div{
    width: 50%;
    height: 100vh;
} 

/* stilizim vec e vec */
div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--jeshile);
    color: var(--bardhe);
}

div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--jeshileHapur);
}

/* stilime teksti */
h2{
    font-size: 30px;
    font-weight: 700;
}

h2 + p{
    text-align: justify;
    padding: 75px 50px;
    font-size: 22px;
}

#mesazhGabimi{
    color: #dc3545;
}

a{
    text-decoration: none;
    padding-left: 10px;
}

/* stilizimi i form */
input{
    border-color: transparent;
    border-bottom-color: var(--jeshile);
    background-color: var(--jeshileHapur);
    width: 300px;
    margin-top: 10px;
    font-size: 18px;
}

input:focus{
    outline: none;
    box-shadow: none;
    border-color: transparent;
    border-bottom-color: var(--jeshile);
}

form{
    display: flex;
    flex-direction: column;
}

button{
    position: relative;
    background-color: var(--jeshile);
    border: 2px solid var(--jeshile);
    color: var(--bardhe);
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    width: 260px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
}

button:hover{
    opacity: 0.8;
}

span{
    position: relative;
}

#ikona{
    position: absolute;
    right: 5%;
    top: 30%;
}

label{
    margin-top: 20px;
    font-size: 20px;
}


/* responsive */
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media only screen and (max-width: 1200px){
    /* ne rregull */
}

@media only screen and (max-width: 1024px){
    h2 + p {
        padding: 50px 25px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px){
    input{
        width: 220px;
    }

    button{
        width: 220px;
        height: 25px;
        margin-left: 5px;
    }

    h2{
        font-size: 22px;
        font-weight: 500;
    }

    h2 + p {
        padding: 10px 25px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px){
    main{
        flex-direction: column; 
    }

    body{
        background-color: var(--jeshileHapur);
    }

    div{
        width: 100%;
        height: fit-content;
    }

    div:nth-of-type(1){
        padding: 20% 0 12% 0;
    }

    div:nth-of-type(2){
        padding: 12% 0 15% 0;
    }

    h2 + p {
        font-size: 20px;
    }
}